.tree {
    margin-left: 10%;
    margin-top: 2em;
}

.node {
    white-space: pre-wrap;
    position: relative;

    &__children {
        padding: 0 10px;
        border-left: 1px solid black;
    }

    &__header::before {
        width: 10px;
        height: 1px;
        position: absolute;
        content: "";
        background-color: black;
        top: 0.5em;
        left: -10px;
    }

    &--text {
        padding-left: 10px;
        font-size: 14px;
    }

    &--text:nth-child(odd) {
        background-color: rgb(233, 233, 233);
    }

    &::before {
        position: absolute;
        width: 2px;
        height: calc(100% - 2em);
        top: 1em;
        background-color: black;
    }

    &--text::before {
        content: unset;
    }

    &__header {
        height: 100%;
        line-height: 20px;
        margin: 0.5em 0;
    }

    /* 
    &__header::before {
        position: absolute;
        width: 1.5em;
        height: 2px;
        background-color: black;
        top: 0.5em;
        left: -1.5em;

    } */

    & label {
        vertical-align: middle;
        font-size: 18px;

        display: inline-block;
        margin-left: 30px;

        user-select: none;
    }

    &__children {
        margin-left: 20px;

        &--hidden {
            display: none;
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;

        &::before {
            content: "";
            position: relative;
            display: flex;
            place-content: center;
            box-sizing: border-box;
            background-color: rgb(0, 82, 177);
            color: white;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
            font-size: 18px;
            left: -10px;
            width: 20px;
            height: 20px;
        }

        &[type="radio"]::before {
            border-radius: 50%;
        }

        &[type="checkbox"]::before {
            border-radius: 20%;
        }

        &[type="checkbox"]:not(:checked)::before,
        &[type="radio"]:not(:checked)::before {
            content: "\002B";
        }

        &[type="checkbox"]:checked::before,
        &[type="radio"]:checked::before {
            content: "\2212";
        }
    }
}