@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
#root {
    display: flex;
    width: 100%;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 30%) auto;
    overflow: hidden;
}

/* Explanation section */
section {
    overflow-y: scroll;
    padding: 0 5%;
    padding-top: 2%;
    margin-left: 5%;
    height: 100vh;
    border-left: 3px solid black;

    span {
        padding-left: 1em;
    }

    code {
        font-size: 14px;
    }
}

/* Language button */
input[type="button"] {
    position: fixed;
    top: 1em;
    right: 1em;

    width: 3em;
    height: 2em;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 1em;
    font-weight: bold;
}

/* Top component */
.tree {
    height: 90%;
    margin: 5% 0;
    padding-right: 20px;
    overflow-y: scroll;
    > .node {
        border-left: none;

        &::before {
            content: unset;
        }
    }
}

/* Recursive component */
.node {
    position: relative;

    white-space: pre-wrap;
    user-select: none;

    &--text {
        color: #3f3f3f;
        font-weight: normal;
        font-size: 14px;
        user-select: text;

        .node__header {
            padding-left: 5px;
        }

        /* Odd panel has different background */
        &:nth-child(odd) .node__header {
            background-color: rgb(233, 233, 233);
        }
    }

    /* Custom checkbox / radio styling */
    input {
        position: absolute;
        width: 0;
        height: 0;

        &::before {
            content: "";
            position: relative;
            display: flex;
            place-content: center;
            background-color: rgb(1, 63, 134);
            color: white;
            line-height: 13px;
            font-weight: bold;
            font-size: 12px;
            left: -8px;
            width: 13px;
            height: 13px;
        }

        &[type="radio"]::before {
            border-radius: 50%;
        }

        &[type="checkbox"]::before {
            border-radius: 20%;
        }

        &[type="checkbox"]:not(:checked)::before,
        &[type="radio"]:not(:checked)::before {
            content: "\002B";
        }

        &[type="checkbox"]:checked::before,
        &[type="radio"]:checked::before {
            content: "\2212";
        }
    }

    /* Custom "tree" connected lines */
    border-left: 1px solid rgb(75, 75, 75);
    margin-left: 10px;

    &__header {
        display: flex;
        padding-left: 7px;
    }

    &::before {
        content: "";
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        border-bottom: 1px solid rgb(75, 75, 75);
        left: -1px;
    }

    &:last-child {
        border-left: 1px solid transparent;
    }

    &:last-child::before {
        border-left: 1px solid rgb(75, 75, 75);
        left: -1px;
        box-sizing: border-box;
        width: 0.5rem;
    }

    /* Other styling */
    label {
        margin-left: 0.9rem;
    }

    input, label {
        cursor: pointer;
    }

    &__header {
        margin-left: 10px;
    }
    
    &__children, &__children--hidden {
        margin-left: 10px;
        padding-bottom: 5px;
        line-height: 20px;

        transform-origin: top center;
        transition: all 300ms ease-in-out;
    }

    /* Disappearing animation */
    &__children--hidden {
        position: absolute;
        height: 0;
        width: inherit;
        z-index: -1;
        transform: scaleY(0);
        opacity: 0;
    }
}